.restraunt-card{
    background-color: rgb(32, 32, 32) !important;
    cursor: pointer;
    transition: all ease-in-out 0.3s !important;
}

.restraunt-card:hover{
    transform: translateY(-12px);
    box-shadow: -12px 15px 34px 5px rgb(61, 61, 61);
}